@font-face {
    font-family: 'BrittanySignature';
    src: url('Fonts/brittany_signature/BrittanySignature.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #f7f1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}
.image {
    width: 100%;
    height: auto;
}
.text-overlay {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h2 {
    margin: 0;
    font-size: 3.5em;
    color: #f7f1f2;
    font-family: 'BrittanySignature', sans-serif; /* Usar Brittany */
    animation: slide-in-right 1s forwards; /* Animación desde la derecha */
}
.text-overlay p {
    margin: 0;
    font-size: 3em;
    color: #f7f1f2;
    font-family: 'Times New Roman', Times, serif;
    animation: slide-in-left 1s forwards; /* Animación desde la izquierda */
}
.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}
.scroll-indicator span {
    display: block;
    font-size: 2em;
    color: #f7f1f2; 
}
.scroll-indicator img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    animation: bounce 2s infinite;
}
.section2{
  height: 210px;
  background-color: #550124;
  text-align: center;
  font-size: 1.5em;
  line-height: 2; /* Espacio entre líneas */
  color: white;
  padding: 110px;
}
.heart-icon {
  text-align: center;
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.heart-icon img {
  width: 25px;
  height: 25px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Keyframes para las animaciones */
@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
